---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog page";
console.log(allPosts[0])

---
<BaseLayout pageTitle={pageTitle}>
    <ul>
      <!-- {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)} -->
      {allPosts.map((post: any) => <BlogPost url={`/posts/${post.id}`} title={post.data.title}/>)}
    <!-- </ul> -->
    </ul>
    <h2>Thia is my astro blog site</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      repellat?
    </p>
</BaseLayout>